streamlit==1.28.2
streamlit-webrtc==0.47.1
einops==0.6.1
opencv-python
pillow
numpy
mediapipe
onnx
onnxruntime
einops
joblib
scikit-learn>=1.3.0
customtkinter>=5.2.0
torch>=2.0.0
tkinter  
json 
collections 
threading 
os 
sys 
# only for mac
onnxruntime==1.16.0; sys_platform == 'darwin'
# only linux or windows
onnxruntime-openvino==1.16; sys_platform != 'darwin'
# Windows-specific dependency
openvino==2023.1; sys_platform == 'win32'
